<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>69407680342-ttnb9l4154987hmii5ta4auqms4cb28m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69407680342-ttnb9l4154987hmii5ta4auqms4cb28m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>69407680342-cju7na5e4ckj6mijca7hc0gobs7p44e8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBBsA-EsezCH8RhueZdGcN1tzEN_Z-Gxy8</string>
	<key>GCM_SENDER_ID</key>
	<string>69407680342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jdr.spyfall</string>
	<key>PROJECT_ID</key>
	<string>spyfall-14bb2</string>
	<key>STORAGE_BUCKET</key>
	<string>spyfall-14bb2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69407680342:ios:6db6203010cd1408</string>
	<key>DATABASE_URL</key>
	<string>https://spyfall-14bb2.firebaseio.com</string>
</dict>
</plist>